*.py[cod]
*.pyc
*.so
*.egg
*.egg-info
dist
build
.idea
*.cfg
*.cfg
*.cache
/tmp
*.log
.env
.venv
env/
ENV/
/site
# mypy
*.pyc
__pycache__/
.idea
.idea/
*.pyc
*.iml
*.xml
db.sqlite3
.idea/*
media
.idea/
media
.idea
*.iml
